@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Mission8_Team0313.Models.Action>
@*Will probably need to match this to the actual model name... hmmm...*@

<table style="width:100%">
  <tr>
    <th></th>
    <th style="font-weight: bold">Urgent</th>
    <th style="font-weight: bold">Not Urgent</th>
  </tr>
  <tr>
    <td style="font-weight: bold">Important</td>
    <td>
      <ul>
          <!--Razor code below might need some fixing-->
        @foreach (var a in Model)
        {
            if (a.Quadrant == 1)
            {
                <li>
                    @a.Task
                    <br/>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@a.TaskID">Edit</a>

                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@a.TaskID">Delete</a>
                </li>
            }
        }
      </ul>
    </td>
    <td>
      <ul>
        @foreach (var s in Model)
        {
            if (s.Quadrant == 2)
            {
                <li>
                    @s.Task
                    <br>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@s.TaskID">Edit</a>

                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@s.TaskID">Delete</a>
                </li>
            }
        }
      </ul>
    </td>
  </tr>
  <tr>
    <td style="font-weight: bold">Not Important</td>
    <td>
      <ul>
        @foreach (var d in Model)
        {
            if (d.Quadrant == 3)
            {
                <li>
                    @d.Task
                    <br>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@d.TaskID">Edit</a>

                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@d.TaskID">Delete</a>
                </li>
            }
        }
      </ul>
    </td>
    <td>
      <ul>
        @foreach (var f in Model)
        {
            if (f.Quadrant == 4)
            {
                <li>
                    @f.Task
                    <br>
                    <a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@f.TaskID">Edit</a>

                    <a class="btn btn-danger" asp-controller="Home" asp-action="Delete" asp-route-id="@f.TaskID">Delete</a>
                </li>
            }
        }
      </ul>
    </td>
  </tr>
</table>
